# API configuration
VITE_APP_API_URL=<insert API URL here>
VITE_APP_API_KEY=<insert API key here>
VITE_PARTNER_CODE=<insert partner code>
VITE_APP_TOKEN=<insert token for public use>

# Debug mode
VITE_APP_DEBUG_MODE=true
